.audience {
    background-color: rgba(0, 161, 198, 0.07);
    padding: 50px 15px;

    @include for-large-up {
        padding: 108px 130px 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        @include for-large-up {
            max-width: 555px;
        }
    }

    &-column {
        color: $text-color-dark;
        text-align: center;

        &__subtitle {
            font-weight: 700;
            font-size: 22px;
            line-height: 34px;
            margin: 0;
            margin-bottom: 17px;
    
            @include for-large-up {
                margin-bottom: 24px;
            }        
        }
    
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -0.357143px;
            margin: 0;
            margin-bottom: 18px;
    
            @include for-large-up {
                font-weight: 700;
                font-size: 56px;
                line-height: 56px;
                letter-spacing: -0.5px;
                margin-bottom: 30px;    
            } 
        }
    
        &__description {
            font-size: 24px;
            line-height: 34px;
            margin: 0;
            margin-bottom: 30px;

            @include for-large-up {
                margin-bottom: 34px;
            } 
        }
    }
}

// .column {
//     color: $text-color-dark;
//     text-align: center;

//     &__subtitle {
//         font-weight: 700;
//         font-size: 22px;
//         line-height: 34px;
//         margin: 0;
//         margin-bottom: 17px;

//         @include for-large-up {
//             margin-bottom: 24px;
//         }        
//     }

//     &__title {
//         font-weight: 700;
//         font-size: 40px;
//         line-height: 40px;
//         letter-spacing: -0.357143px;
//         margin: 0;
//         margin-bottom: 18px;

//         @include for-large-up {
//             font-weight: 700;
//             font-size: 56px;
//             line-height: 56px;
//             letter-spacing: -0.5px;
//             color: $text-color-dark;        
//         } 
//     }

//     &__description {
//         font-size: 24px;
//         line-height: 34px;
//         margin: 0;
//         margin-bottom: 30px;
//     }
// }

.audience__buttons {

    @include for-large-up {
        text-align: center;      
    } 

    .action__button {
        width: 100%;
        margin: 0;
        margin-bottom: 12px;

        @include for-large-up {
            width: 160px;
            margin-right: 10px;
            margin-bottom: 111px;       
        } 
    }

    .action__button:last-child {
        margin: 0;
        margin-bottom: 40px;
        color: $text-color-black;
        background-color: $color-white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    }  
}

.audience__users {
    display: flex;
    flex-wrap: wrap;

    @include for-large-up {
        flex-wrap: nowrap;
    }

    .user-card {
        width: 262px;
        height: 300px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        background-color: $color-white;
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-direction: column;
        margin-bottom: 15px;

        @include for-large-up {
            margin-right: 30px;
            margin-bottom: 0;
        }
    
        &:last-child {
            @include for-large-up {
                margin-right: 0;
            }
        }

        &:hover {
            background-color: $color-dark-blue;
            cursor: pointer;

            .user-card__text {
                color: $color-white;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }


        &__img {
            max-width: 100%;
            margin-top: 22px;
        }

        &__text {
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            color: $text-color-dark;
            margin-top: 22px;
            margin-bottom: 33px;
        }
    }
}