@import 'variables.scss';

.customers{
    display: flex;
    flex-direction: column;

    @include for-extra-small{
        max-width: 1140px;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px ;
        padding-bottom: 106px;
        flex-direction: row;
    }

    &__row{
        display: flex;

        @include for-extra-small{
            justify-content: space-around;
            flex: 1;
        }
    }

    &__item{
        display: flex;
        height: 94px;
        width: 107px;
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        align-items: center;
        justify-content: center;

        &:last-child{
            border-right: none;
        }

        @include for-extra-small{
            border: none ;
        }
    }

    &__logo{
        max-width: 80%;
        filter: brightness(0);
    }  
}