
.footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;

    &__line{
        border: .5px solid #2B292D;
        width: 100%;
        opacity: 0.1;
        margin: 0;
    }

    &__description{
        line-height: 26px;
        font-size: 18px;
        max-width: 360px;
        width: 100%;
        color: rgba(43, 41, 45, .6);
        margin-top: 26px;
    }

    .downloads{
        margin-top: 25px;
    
        &__item{
            margin-right:10px ;
        }
    }
}


.footer-navigation{
    max-width: 1140px;
    width: 100%; 
    margin:0 auto;
    height: 338px; 
    display: flex;
}

.about-company{
    padding-top: 44px;
}

.additional-navigation{
    margin-top: 60px;
    margin-left: auto;
    display: flex;

    &__colum{
        margin-right: 29px;
    }
}

.nav-links{
    max-width: 265px;
    width: 100%;

    &__title{
        font-family: Work Sans;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: #2B292D;
        margin: 0;
    }

    &__list{
        list-style-type: none;
        font-size: 18px;
        line-height: 30px;
        color: rgba(43, 41, 45, .6);
        padding: 0;
        margin: 0;
        margin-top: 18px;
    }
}

.footer-links{
    max-width: 1140px; 
    width: 100%;
    height: 50px;
    margin:0 auto;
    display: flex;
    align-items: center;
}

.terms{
    line-height: 50px;
    font-size: 14px;

    &__item{
        text-decoration: none;
        color: rgba(43, 41, 45, .6);
        margin-right: 22px;
    }
}

.social-links{
    margin-left: auto;
    &__item{
        margin-left: 20px;
        
        &_twitter{
            
        }

        &_facebook{
           
        }

        &_linkedin{
           
        }
    }
}

