.headline{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    margin-top: 84px;
    position: relative;
    display: flex;
    padding-bottom: 77px;

    &__content{
        position: absolute;
        z-index: 1;

    }

    &__banner{
        position: relative;
        right: -105px;
        top: 0;
        width: 796px;
        height: 448px;
        margin-left: auto;
    }

    &__title{
        max-width: 754px;
        height: 165px;
        width: 100%;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        margin: 0;    
    }

    &__description{
        margin-top: 34px;
        max-width: 456px;
        height: 102px;
        margin-bottom: 0;
        width: 100%;
        font-size: 24px;
        line-height: 34px;    
    }

    &__actions{
        margin-top: 58px;
        display: flex;
    }

    &__learn-more-btn{
        margin-left: 10px;
        background-color: #fff;
        color: #3040c4;
        width: 158px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        border: none;
        border-radius: 2px;
    }
    
}