@import 'variables.scss';



.top-section{
    background-color: #F3C6BD;
    
    @include for-extra-small{
        padding-top: 39px;
    }
}


.header{
    height: 64px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;

    @include for-extra-small{
        max-width: 1140px; /*тут*/
        width: 100%;
        height: 62px;
        margin:0 auto;
        display: flex;
        background-color: transparent;
    }

}

.header__button{
    display: none;

    @include for-extra-small{
        display: block;
    }
}

.header__menu-button{
    width: 58px;
    border: none;
    border-left: 1px solid #00000026;
    height: 100%;
    margin-left: auto;
    background: transparent;

    @include for-extra-small{
        display: none;
    }

    &-icon{
        width: 18px;
        height: 13px;
        display: inline-block;
        background-image: url(../img/icon-hamburger.png);
    }
}

.logo{
    display: flex;
    align-items: center;
    &__image{
        width: 48px;
        height: 48px;
        margin-right: 15px;

        @include for-extra-small{
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
    }

    &__text{
        font-size: 20px;
        line-height: 25px;  
    }

    &__name{
        font-weight: 700;
    }

    &__description{
        display: none;
        @include for-extra-small{
            font-size: 18px;
            font-weight: 400;
            color: rgba(43, 41, 45, .6);
            display: block;
        }
    }
}

.navigation{
    display: none;
    

    @include for-extra-small{
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
        display: block;
    }

    &__item{
        line-height: 25px;
        font-size: 18px;
        margin-right: 50px;
        color: #2B292D;
    }

    &__item:last-child{
        margin-right: 0;
    }

    &__item_selected{
        font-weight: 700;
    }

    &__arrow{
        display: inline-block;
        height: 5px;
        width: 8px;
        background-image: url(../img/arrow.png);
        margin-left: 11px;
    }
}