.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__line {
  border: 0.5px solid #2B292D;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .footer__line {
    margin-top: 0;
  }
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  max-width: 360px;
  width: 100%;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 26px;
}
@media screen and (min-width: 400px) {
  .footer__description {
    display: block;
  }
}
.footer .downloads {
  margin: 25px 15px 0;
  display: flex;
  justify-content: center;
}
.footer .downloads__item {
  margin-right: 10px;
}
@media screen and (min-width: 400px) {
  .footer .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    margin: 0 auto;
    padding: 0;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 338px;
    flex-direction: row;
  }
}

.about-company {
  padding-top: 44px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.additional-navigation__colum {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    flex-direction: row;
  }
  .additional-navigation__colum {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  max-width: 265px;
  width: 100%;
  flex-direction: column;
}
.nav-links__title {
  font-family: Work Sans;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 400px) {
  .nav-links {
    flex-direction: row;
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-links {
    height: 50px;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    max-width: 1140px;
    width: 100%;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
.terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}
@media screen and (min-width: 400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0px;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  opacity: 0.6;
}

@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}

/*# sourceMappingURL=footer.css.map */
